* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page sectiions */
body {
  font-family: sans-serif;
  color: #444;
  border-top: #1098ad 10px solid;
  /* position: relative; */
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

nav {
  font-size: 18px;
  text-align: center;
}

article {
  margin-bottom: 60px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;
  /* height: 80px; */
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

/* smaller elemets */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font: size 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p{
  font-size: 16px;
} */

/*article header p{
  font-style: italic;
}  
*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style-type: none;
  margin-left: 0;
}

/* Psuedo class */

/* .first-li{
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}

/* li:nth-child(3){
   color: red; 
} */
/* Misconception: this won't work */
article p:first-child {
  color: red;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}

.post_img {
  width: 100%;
  height: auto;
  /* margin:; */
}
nav a:link {
  /* background-color:orangered ;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  /* margin-top: 10px; disabled because of flexbox */
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  cursor: pointer;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
/* 
h3 + p::first-letter{
  color:red;
} */

h2 {
  /* background-color: orange;  */
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15;
  right: -25px;
}

/* p::first-line{
  color: red;
} */

/* FLOAT layout */
/* 
.author-img{
float: left;
margin-bottom: 20px;
}
 */

/* 
.author{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}
 */

/* .clear{
  clear:both ;
} */

/* 
.clearfix::after{
  content: "";
  display: block;
  clear: both;

}

article{
  width: 825px;
  float: left;
}

aside{
  width: 300px;
  float: right;
}

footer{
  clear: both;
}
 */

/* flexbox */
/* 
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 60px;
} */

/* article {
  flex: 0 0 825px; */
/*
  or
  flex:1; 
   */
/* margin-bottom: 0;
} */

/* aside { */
/* flex-basis: 300px; */
/* 
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis:auto;
  */
/* flex: 0 0 300px;
} */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 75px;
  align-items: start;
}

.main-header {
  grid-column: 1/-1;
  margin-bottom: 0;
}


aside {
  align-self: start;
  /* justify-self: start; */
}

footer {
  grid-column: 1/-1;
}
